@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$green: #7B0073;
$black: #FF003D;
$light-color: #000;
$box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);


/* Works on Firefox */
// * {
//     scrollbar-width: thin;
//     scrollbar-color: $green $black;
//   }
  
//   /* Works on Chrome, Edge, and Safari */
//   *::-webkit-scrollbar {
//     width: 12px;
//   }
  
//   *::-webkit-scrollbar-track {
//     background: $black;
//   }
  
//   *::-webkit-scrollbar-thumb {
//     background-color: $green;
//     border-radius: 20px;
//     border: 3px solid $green;

//     &:hover {
//         background-color: lighten($green, $amount: 10);
//     }
//   }


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.sub-heading {
    text-align: center;
    color: $green;
    font-size: 2rem;
    padding-top: 1rem;
}
.heading {
    text-align: center;
    color: $black;
    font-size: 3rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: $black;
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;

    &:hover {
        background: $green;
        letter-spacing: .1rem;
    }
}

header {
    position: fixed;
    top: 0;left: 0;right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: $box-shadow;

    .logo {
        color: $black;
        font-size: 2.5rem;
        font-weight: bolder;

        i {
            color: $light-color;
        }
    }

    .navbar a{
        font-size: 1.7rem;
        border-radius: .5rem;
        padding: .5rem 1.5rem;
        color: $light-color;

        &:hover, &.active {
            color: #fff;
            background:  $green;
        }
    }

    .icons i, .icons a {
        cursor: pointer;
        margin-left: .5rem;
        height: 4.5rem;
        line-height: 4.5rem;
        width: 4.5rem;
        text-align: center;
        font-size: 1.7rem;
        color: $black;
        border-radius: 50%;
        background: #eee;

        &:hover {
            color: #fff;
            background: $green;
            transform: rotate(360deg);
        }

        &#menu-bars {
            display: none;
        }
    }
}
#search-form {
    position: fixed;
    top: -110%;left: 0;
    height: 100%;width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    &.active {
        top: 0;
    }

    #search-box {
        width: 50rem;
        border-bottom: .1rem solid #fff;
        padding: 1rem 0;
        color: #fff;
        font-size: 3rem;
        text-transform: none;
        background: none;

        &::placeholder {
            color: #eee;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }
    
    label {
         color: #fff;
         cursor: pointer;
         font-size: 3rem;
         &:hover {
             color: $green;
         }
    }

    #close {
        position: absolute;
        color: #fff;
        cursor: pointer;
        top: 2rem; right: 3rem;
        font-size: 5rem;
    }
}


section {
    &.home{
        .home-slider {
            .slide {
                display: flex;
                align-items: center;
                justify-content: center ;
                flex-wrap: wrap;
                gap: 2rem;
                padding-top: 9rem;

                .content, .images {
                    flex: 1 1 45rem;

                    img {
                        width: 100%;
                    }
                }

                .content {
                    span {
                        color: $green;
                        font-size: 2.5rem;
                    }
                    h3 {
                        color: $black;
                        font-size: 7rem;
                    }
                    p {
                        color: $light-color;
                        font-size: 2.2rem;
                        padding: .5rem 0;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    &.dishes {
        .box-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
            gap: 1.5rem;

            .box {
                padding: 2.5rem;
                background: #fff;
                border-radius: .5rem;
                border: .1rem solid rgba(0,0,0,.2);
                box-shadow: $box-shadow;
                position: relative;
                overflow: hidden;
                text-align: center;

                .fa-heart, .fa-eye {
                    position: absolute;
                    top: 1.5rem;
                    background: #eee;
                    border-radius: 50%;
                    height: 5rem;
                    width: 5rem;
                    line-height: 5rem;
                    font-size: 2rem;
                    color: $black;

                    &:hover {
                        background: $green;
                        color: #fff;
                    }
                    
                }
                .fa-heart {
                    right: -15rem;
                }
                .fa-eye {
                    left: -15rem;
                }
                
                &:hover {
                    .fa-heart {
                        right: 1.5rem;
                    }
                    .fa-eye {
                        left: 1.5rem;
                    }

                }

                img {
                    height: 17rem;
                    margin: 1rem 0;
                }

                h3 {
                    color: $black;
                    font-size: 2.5rem;
                }

                .stars {
                    padding: 1rem 0;

                    i {
                        font-size: 1.7rem;
                        color: $green;
                    }
                }
                span {
                    color: $green;
                    font-weight: bolder;
                    margin-right: 1rem;
                    font-size: 2.5rem;
                }
            }
        }
    }

    &.about {
        .row {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            align-items: center;

            .image {
                flex: 1 1 45rem;

                img {
                    width: 100%;
                }
            }
            
            .content {
                flex: 1 1 45rem;

                h3 {
                    color: $black;
                    font-size: 4rem;
                    padding: .5rem 0;
                }

                p {
                    color: $light-color;
                    font-size: 1.5rem;
                    padding: .5rem 0;
                    line-height: 2;
                }

                .icons-container {
                    display: flex;
                    gap: 1rem;
                    flex-wrap: wrap;
                    padding: 1rem 0;
                    margin-top: 0.5rem;
                    
                    .icons {
                        background: #eee;
                        border-radius: .5rem;
                        border: .1rem solid rgba(0,0,0,.2);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        flex: 1 1 17rem;
                        padding: 1.5rem 1rem;

                        i {
                            font-size: 2.5rem;
                            color: $green;
                        }
                        span {
                            font-size: 1.5rem;
                            color: $black;
                        }
                    }
                }
            }
        }
    }

    &.menu .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem;

        .box {
            background: #fff;
            border: .1rem solid rgba(0,0,0,.2);
            border-radius: .5rem;
            box-shadow: $box-shadow;

            .image {
                height: 25rem;
                width: 100%;
                padding: 1.5rem;
                overflow: hidden;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: .5rem;
                    object-fit: cover;
                }

                .fa-heart {
                    position: absolute;
                    top: 2.5rem;right: 2.5rem;
                    height: 5rem;width: 5rem;
                    line-height: 5rem;
                    text-align: center;
                    font-size: 2rem;
                    background: #fff;
                    border-radius: 50%;
                    color: $black;

                    &:hover {
                        background: $green;
                        color: #fff;
                    }
                }
            }

            .content {
                padding: 1rem;
                padding-top: 0;

                .stars {
                    padding-bottom: 1rem;

                    i {
                        font-size: 1.7rem;
                        color: $green;
                    }
                }

                h3 {
                    color: $box-shadow;
                    font-size: 2.5rem;
                }
                p {
                    color: $light-color;
                    font-size: 1.6rem;
                    line-height: 1.5;
                    padding: .5rem 0;
                }
                .price {
                    color: $green;
                    margin-left: 1rem;
                    font-size: 2.5rem;
                }
            }
        }
    }
    &.review .slide {
        padding: 2rem;
        box-shadow: $box-shadow;
        border: .1rem solid rgba(0,0,0,.2);
        border-radius: .5rem;
        position: relative;

        .fa-quote-right {
            position: absolute;
            top: 2rem;right: 2rem;
            font-size: 6rem;
            color: #ccc;
        }

        .user {
            display: flex;
            gap: 1.5rem;
            align-items: center;
            padding-bottom: 1.5rem;

            img {
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
                object-fit: cover;
            }
            h3 {
                color: $black;
                font-size: 2rem;
                padding-bottom: .5rem;
            }
            i {
                font-size: 1.3rem;
                color: $green;
            }
        }

        p {
            font-size: 1.5rem;
            line-height: 1.8;
            color: $light-color;
        }
    }
    &.order form {
        max-width: 90rem;
        border-radius: .5rem;
        box-shadow: $box-shadow;
        border: rgba(0,0,0,.2);
        background: #fff;
        padding: 1.5rem;
        margin: 0 auto;

        .inputBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .input {
                width: 49%;

                span {
                    display: block;
                    padding: .5rem 0;
                    font-size: 1.5rem;
                    color: $light-color;
                }

                input, textarea {
                    background: #eee;
                    border-radius: .5rem;
                    padding: 1rem;
                    font-size: 1.6rem;
                    color: $black;
                    text-transform: none;
                    margin-bottom: 1rem;
                    width: 100%;

                    &:focus {
                        border: .2 solid $green;
                    }
                    
                }
                textarea {
                    height: 20rem;
                    resize: none;
                }
            }

            .btn {
                margin-top: 0;
            }
        }
    }

    &.footer .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;

        .box h3{
            padding: .5rem 0;
            color: $black;
            font-size: 2.5rem;
        }
        .box a{
            display: block;
            padding: .5rem 0;
            color: $light-color;
            font-size: 2rem;


            &:hover{
                color: $green;
                text-decoration: underline;
            }
        }
    }
    .credit {
        text-align: center;
        border-top: .1rem solid rgba(0,0,0,.1);
        font-size: 2rem;
        color: $black;
        padding: .5rem;
        padding-top: 1.5rem;
        margin-top: 1.5rem;

        span {
            color: $green;
        }
    }
}

.swiper-pagination-bullet-active {
    background: $green;
}

















// media Queries
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem
    }
    section {
        padding:s 2rem
    }
    
    
}
@media (max-width:768px) {
    html {
        font-size: 55%;
    }

    header {
    
        .navbar{
            position: absolute;
            top: 100%;left:0;right: 0;
            background: #fff;
            border-top: .1rem solid rgba(0,0,0,.2);
            border-bottom: .1rem solid rgba(0,0,0,.2);
            padding: 1rem;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
            a{
                display: block;
                padding: 1.5rem;
                margin: 1rem;
                font-size: 2rem;
                background: #eee;
           }
        }
    
        .icons i, .icons a {
            &#menu-bars {
               display: inline-block;
            }
        }
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }
    section.home .home-slider .slide .content h3 {
        font-size: 5rem;
      }
      
    
}
@media (max-width:450px) {
    html {
        font-size: 50%;
    }

   section.dishes .box-container .box img {
        height: auto;
        width: 100%;
      }
      .order form .inputBox .input {
          width: 100% !important;
      } 
    
}